.cart-item{
    border-top: solid 1px var(--disabled);
    padding: calc(var(--padding) * 0.9) 0px;
    display: grid;
    grid-template-columns: 1fr 30px 250px;
    grid-gap: var(--padding);
    min-height: 310px;
    align-items: start;
}
.cart-controller{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding);
    height: calc(310px - (var(--padding) * 2));
}

.cart-btn{
    padding: calc(var(--padding) * 0.2);
    border: solid 1px  var(--disabled);
    display: grid;
    place-content: center;
    cursor: pointer;
}
.cart-btn:active{
    background-color: var(--black) !important;
    color: var(--white) !important;
}

.cart-image{
    height: calc(310px - (var(--padding) * 2));
    display: grid;
    place-items: center;
    position: relative;
}

.cart-image img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: relative;
    z-index: 1;
}

.image-toggle-controlls{
    position: absolute;
    bottom: 0;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    z-index: 1;
}
.image-toggle-controlls .controller{
    height: var(--padding);
    width: var(--padding);
    display: grid;
    place-items: center;
    padding: 5px;
    background: var(--black);
    cursor: pointer;
}

.empty{
    margin-bottom: var(--padding);
}

.row.label{
    display: grid;
    grid-template-columns: 80px 1fr;
}

.mini-cart-item{
    padding: calc(var(--padding) * 0.) 0px;
    display: grid;
    grid-template-columns: 1fr 25px 100px;
    grid-gap: var(--padding);
    min-height: 180px;
    align-items: start;
    margin-bottom: var(--padding);
}
.mini-cart-image{
    height: calc(190px - (var(--padding) * 2));
    display: grid;
    place-items: center;
    position: relative;
}
.mini-cart-image img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: relative;
    z-index: 1;
}
.mini-cart-controller{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding);
    height: calc(190px - (var(--padding) * 2));
}
.mini-cart-controller .cart-btn{
    min-width: 24px;
    width: 24px;
    height: 24px;
}
.mini-cart-controller .cart-btn:active{
    background-color: var(--black) !important;
    color: var(--white) !important;
}
.mini-cart-details .row{
    margin: 5px 0px;
}
.mini-cart-details .name, .mini-cart-details > .row .name{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}
.mini-cart-details .row h2{
    text-transform: unset;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.mini-cart-details .row .attribute-button{
    min-width: 24px;
    height: 24px;
}
.mini-cart-details .row .attribute-button.color{
    min-width: 16px;
    width: 16px;
    height: 16px;
}

@media screen and ( max-width: 600px) {
    .cart-item{
        display: flex;
        flex-direction: column-reverse;
        grid-gap: var(--padding);
    }
    .cart-controller{
        flex-direction: row;
        height: 20px;
        width: 100%;
    }

    .cart-image{
        height: calc(310px - (var(--padding) * 2));
        width: 100%;
    }
    
}