
.page{
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding);
  z-index: 1;
}
.page-title{
  padding-bottom: var(--padding);
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.centered-page{
  height: calc(100vh - (var(--nav-h) * 2));
  display: grid;
  place-content: center;
}
.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--padding);
}

@media screen and ( max-width: 900px) {
  .products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--padding);
  }
  
}

@media screen and ( max-width: 600px) {
  .products{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--padding);
  }
}